<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Hello from <%= Rails.application.class.parent_name %>!</h1>
      <p class="text-center">Find me in pages#home</p>
    </div>
  </div>
</div>
